html {background-color: #e0e0d1;
font-size:14px;
font-style:normal;}
p{
	text-align:left;
	padding-left:250px;
    font-style:normal;}
.foot{padding-left:360px;}
h3{padding-left:360px;}
.para{padding-left:360px;
      font-size:16;
	  }
.lol{padding-left:130px;
     font-size:20px;}
a{text-decoration:none;}
ul li{display:inline;
	padding-left:50px;
	font-style:normal;
	}
ul{
  padding-left:100px;
  padding-top:50px;
  font-style:normal;
}
h1{padding-left:340px;
	padding-top:110px;
	font-size:14px;
	font-style:normal;}
	h2{padding-left:320px;
	text-align:left;
	font-style:normal;
	padding-top:35px;
	font-size:14px;}
	h4{padding-left:570px;
		padding-top:18px;
		color:blue;
		}
footer{
			padding-top:60px;
			padding-left:340px;
		}
ol{
  padding-left:590px;
  padding-top:5px;
  font-style:normal;
}
